html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: #c05538;
}

a {
    color: rgb(255, 230, 215);
}

a:visited {
    color: rgb(0, 191, 255);
}

* {
    box-sizing: border-box;
}
